
body{
  margin-bottom: 70px;
  background-color: #272727;
}

a:hover{
  color: inherit
}

.list-group-item {
  background-color: inherit;
}

.card{
  border-radius: 0px;
  background-color: rgba(59,66,76,0.95);
  color: white;
}

.card-img-top {
  border-radius: 0px;
}

.current-song h5{
  font-size: 18px;
}

.navbar{
  text-transform: uppercase;
}

.navbar-lcr{
  color: white;
  background-color: #2586C7;
}

nav{
  margin-bottom: 30px;
}

.center-content{
  text-align: center;
}


a{
  color: inherit;
}

.audioplayer{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 55px;
  background-color: #2586C7;
  --webkit-user-select: none;
  user-select: none;
}

.audioplayer .controls{
  color: white;
  line-height: 55px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.audioplayer .controls i{
  color: white;
  font-size: 35px;
  line-height: 55px;
  padding: 0px 5px;
  cursor: pointer;
}
