
html{
  overflow: hidden;
}

body{
  margin-bottom: 70px;
  background-color: #2586C7;
  color: white;
}

a:hover{
  color: inherit
}

.list-group-item {
  background-color: inherit;
}

.card{
  border-radius: 0px;
  background-color: rgba(59,66,76,0.95);
  color: white;
}

.card-img-top {
  border-radius: 0px;
}

.current-song h5{
  font-size: 18px;
}

.center-content{
  text-align: center;
}

a{
  color: inherit;
}


.navbar{
  text-transform: uppercase;
  position: fixed;
  left: -10px;
  right: -10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 65px;
  box-shadow: 0px 10px 20px rgba(30,30,30,0.5);
  z-index: 50;
}

.navbar-lcr{
  color: white;
  background-color: #2586C7;
}

.navbar i{
  cursor: pointer;
}

.scroll-container{
  position: fixed;
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 55px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0px;
}

.modal-menu{
  background-color: #2586C7;
  z-index: 40;
  display: none;
}

.menu-title{
  padding-left: 
  5%;
}

.menu-title-1{
  padding-top: 
  2%;
  padding-bottom: 
  3%;
  padding-left: 
  41%;
}

.menu-title-2{
  padding-left: 
  5%;
}

.menu-title-3{
	position: relative;
	left: 39%;
  padding-top: 
  4%;
  padding-bottom: 
  3%;
}

.modal-menu[open]{
  display: block;
}

.audioplayer{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 55px;
  background-color: #2586C7;
  --webkit-user-select: none;
  user-select: none;
}

.audioplayer .controls{
  color: white;
  line-height: 55px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.audioplayer .controls i{
  color: white;
  font-size: 35px;
  line-height: 55px;
  padding: 0px 5px;
  cursor: pointer;
}

.nav-option:hover{
  background-color: #555555;
  text-decoration: none;
}

.nav-link{
  padding-top: 
  50%;
}

.card-menu {
  padding-top: 4%;
  padding-bottom: 2%;
}

.card-options {
  padding-top: 5%;
  padding-bottom: 0%;
  background-color: rgba(59,66,76,0.95);
}
