
:root{
    --player-bg-color: rgba(68,68,68,1);
    --player-bg:  linear-gradient(to bottom, #4e4e4e 0%, #0e0e0e 100%);
    --player-text-color: #fff;
}

.audioplayer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 55px;
    width: 100%;
    height: 55px;
    background: var(--player-bg);
    user-select: none;
    z-index: 50;
    overflow: hidden;
  }

  .audioplayer[open]{
    box-shadow: 0px -10px 20px rgba(30,30,30,0.22);
  }
  
  .audioplayer .controls{
    color: white;
    line-height: 55px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }
  
  .audioplayer .controls i{
    color: white;
    font-size: 35px;
    line-height: 55px;
    padding: 0px 5px;
    cursor: pointer;
  }

  .audioplayer-summary{
      cursor: pointer;
      font-size: 24px;
  }

  .audioplayer-controls-background-image{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -10;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    opacity: 0.4;
  }

  .audioplayer-background-image{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -10;
    overflow: hidden;
    filter: blur(100px);
    background-size: cover;
  }

  .audioplayer-extra{
      position: fixed;
      z-index: 40;
      left: 0px;
      right: 0px;
      top: 65px;
      bottom: 110px;
      max-width: 500px;
      left: -500px;
      background-color: var(--player-bg-color);
      /* display: none; */
      --webkit-user-select: none;
      user-select: none;
      overflow: hidden;
  }

  @media only screen and (min-width: 500px){
      .audioplayer-extra{
        transition: left 0.3s ease-in-out;
      }
  }

  .audioplayer-extra[open]{
    left: 0px;
}

  .audioplayer-extra i{
      cursor: pointer;
  }

  .audioplayer-extra p{
      padding: 15px;
  }


  .audioplayer-extra-menu{
      color: var(--player-text-color);
      border-bottom: 1px solid rgba(255,255,255,0.03);
      background-color: rgba(0,0,0,0.12);
      height: 45px;
      line-height: 45px;
      display: flex;
      justify-content: space-between;
  }

  .audioplayer-extra-menu i{
      line-height: 45px;
      padding-right: 10px;
  }

  
  .audioplayer-extra .invisible{
        visibility: hidden;
    }

  .audioplayer-extra-title{
      color: var(--player-text-color);
      padding: 15px;
  }

.audioplayer-additional-controls{
    text-align: center;
    padding: 15px 0px;
    color: white;
}

.audioplayer-additional-controls i{
    font-size: 52px;
}

  .audioplayer-nav-buttons{
      position: absolute;
      bottom: 15px;
      right: 0px;
  }

.audioplayer-nav-buttons .btn{
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.audioplayer-nav-buttons .btn:focus{
    outline: 0 !important;
    background-color : rgba(0,0,0,0.12);
}

  .audioplayer-extra-mask{
      position: fixed;
      top:  0px;
      left: 0px;
      right: 0px;
      bottom: 110px;
      z-index: 25;
      background-color: rgba(0,0,0,0.5);
      transition: background-color 2s;
      display: none;
  }

  .audioplayer-extra-mask[open]{
      display: block;
  }