
:root{
    --player-bg-color: #2586C7;
}

.audioplayer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 55px;
    background-color: var(--player-bg-color);
    --webkit-user-select: none;
    user-select: none;
    z-index: 50;
  }

  .audioplayer[open]{
    box-shadow: 0px -10px 20px rgba(30,30,30,0.22);
  }
  
  .audioplayer .controls{
    color: white;
    line-height: 55px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }
  
  .audioplayer .controls i{
    color: white;
    font-size: 35px;
    line-height: 55px;
    padding: 0px 5px;
    cursor: pointer;
  }

  .audioplayer-summary{
      cursor: pointer;
      font-size: 24px;
  }


  .audioplayer-extra{
      position: fixed;
      bottom: 55px;
      z-index: 30;
      left: 15px;
      right: 15px;
      height: 350px;
      background-color: var(--player-bg-color);
      /* display: none; */
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      --webkit-user-select: none;
      user-select: none;
      bottom: -400px;
      transition: bottom 0.3s ease-in-out;
  }

  .audioplayer-extra i{
      cursor: pointer;
  }

  .audioplayer-extra p{
      padding: 15px;
  }

  .audioplayer-extra-title{
      background-color: white;
      color: var(--player-bg-color);
      padding: 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

.audioplayer-additional-controls{
    text-align: center;
    padding: 15px 0px;
}

.audioplayer-additional-controls i{
    font-size: 52px;
}

  .audioplayer-nav-buttons{
      position: absolute;
      bottom: 15px;
      right: 0px;
  }

.audioplayer-nav-buttons .btn{
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.audioplayer-nav-buttons .btn:focus{
    outline: 0 !important;
    background-color : rgba(0,0,0,0.12);
}

  .audioplayer-extra-mask{
      position: fixed;
      top:  0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 25;
      background-color: rgba(0,0,0,0.5);
      transition: background-color 2s;
      display: none;
  }

  .audioplayer-extra[open]{
      bottom: 55px;
  }

  .audioplayer-extra-mask[open]{
      display: block;
  }