body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--body-bg);

  padding-top: 55px;
  overflow-y: scroll;
}

:root{

  --body-bg: #eee;
  --modal-bg: #fff;

  --lcr-blue: #2385c7;

}
